<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngFor="let item of getFavorites() | async">
    <ion-card>
      <ion-card-title>City: {{item.city}}</ion-card-title>
      <ion-card-content>
        <p>Temperature: {{item.temperature.toPrecision(3)}}</p>
        <p>Precipitation count: {{item.precipitation.toPrecision(3)}}</p>
        <p>Wind speed: {{item.windSpeed.toPrecision(3)}}</p>
      </ion-card-content>
      <ion-button (click)="addFavorite(item)" fill="outline">
        <ion-icon slot="start" name="star"></ion-icon>
        Add to favs
      </ion-button>
    </ion-card>
  </div>>
  <div *ngFor="let item of weatherForecasts">
    <ion-card>
      <ion-card-title>City: {{item.city}}</ion-card-title>
      <ion-card-content>
        <p>Temperature: {{item.temperature.toPrecision(3)}}</p>
        <p>Precipitation count: {{item.precipitation.toPrecision(3)}}</p>
        <p>Wind speed: {{item.windSpeed.toPrecision(3)}}</p>
      </ion-card-content>
      <ion-button (click)="addFavorite(item)" fill="outline">
        <ion-icon slot="start" name="star"></ion-icon>
        Add to favs
      </ion-button>
    </ion-card>
  </div>
</ion-content>
